<!-- Header Section -->
<header>
    <p class="welcome-msg">welcome to hotel KrungThai</p>
    <div class="top-right-menu">
        <ul class="top-menu">
            <li>
                <i class="fas fa-phone"></i>
                <a href="#"> +1 888 123-4567</a>
            </li>
            <li>
                <i class="fas fa-envelope"></i>
                <a href="#"> contact@krungthai.com</a>
            </li>
        </ul>
    </div>
</header>

<!-- Navbar Section -->
<nav>
    <div class="logo">
        <a href="{% url 'core:home' %}">KrungThai.</a>
    </div>
    <div class="navbar-items">
        <ul class="navbar-item">
            <li><a href="{% url 'core:home' %}">home</a></li>
            <li><a href="{% url 'rooms:rooms' %}">rooms</a></li>
            <li><a href="{% url 'shops:shopitem' %}">shops</a></li>
        </ul>
    </div>
</nav>