{% extends 'base.html' %}
{% load static %}

{% block title %}Shop{% endblock title %}


{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/shop.css' %}">
{% endblock extrastyle %}
    
    
{% block body %}

<!-- Middle Section -->
<section id="middle-section">
    <h1 class="middle-section-title">Shops</h1>
    <div class="middle-section-subtitle">
        <span>Home / </span><span>Shops</span>
    </div>
</section>

<!-- Shop List Main-->
<section id="shoplist">
    <div class="container">
        <div id="shop-item">
            {% for item in items %}
            <img src="{{shopitem.item_picture}}" alt="itemimage">
            {% endfor %}
            <div class="item-desc">
            {% for shopitem in shopitems.object_list %}
                <a href="{% url 'shops:itemdetail' shopitem.pk %}">{{shopitem.item_name}}</a>
                <h2>{{shopitem.item_price}}</h2>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
    
    <form method="get" action=".">
        {{form.as_p}}
        <button>Search</button>
    </form>
    {% for item in items %}
        <h3>{{items.item_name}}</h3>
    {% endfor %}
        
<!-- Page -->
    {% if shopitems.has_other_pages %}
        <ul class="pagination">
            {% if shopitems.has_previous %}
                <li><a href="?page={{ shopitems.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in shopitems.paginator.page_range %}
                {% if shopitems.number == i %}
                    <li class="active"><span>{{ i }}</li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if shopitems.has_next %}
                <li><a href="?page={{ shopitems.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
    
        
{% endblock body %}
    