{% extends 'base.html' %}

{% block body %}
    
    {% for shopitem in shopitems.object_list %}
        <h1>
            <a href="{% url 'shops:itemdetail' shopitem.pk %}">
                {{shopitem.item_name}} / {{shopitem.item_price}}
            </a>
        </h1>
    {% endfor %}

    {% if shopitems.has_other_pages %}
        <ul class="pagination">
            {% if shopitems.has_previous %}
                <li><a href="?page={{ shopitems.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in shopitems.paginator.page_range %}
                {% if shopitems.number == i %}
                    <li class="active"><span>{{ i }}</li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if shopitems.has_next %}
                <li><a href="?page={{ shopitems.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
    
        
{% endblock body %}
    