{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Donghoon Han">
    <meta name="description" content="Himara Hotel Reservation Website">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extrastyle %}{% endblock extrastyle %}
    <title>{% block title %}{% endblock title %}Home</title>
</head>
<body>
    <script src="{% static 'js/main.js' %}"></script>
    {% include 'partials/header.html' %}

    {% include 'partials/middle.html' %}

    {% block body %}
    {% endblock body %}

    {% include 'partials/footer.html' %}
    <script src="https://kit.fontawesome.com/00dde58123.js" crossorigin="anonymous"></script>
</body>
</html>